<!DOCTYPE html>
<html>
<head>
    <title>Task Priority List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="top-bar">
        <h1>Task Priority List</h1>
    </header>

    <div class="container">
        <form method="POST">
            <label for="task_name">Task Name:</label>
            <input type="text" id="task_name" name="task_name" required>
            <label for="due_date">Due Date (DD/MM):</label>
            <input type="text" id="due_date" name="due_date" required>
            <button type="submit">Add Task</button>
        </form>

        <h2>Priority List:</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Time remaining</th>
            </tr>
            {% for task in priority_list %}
            <tr>
                <td>{{ task.task }}</td>
                <td>{{ task.weight }} Days</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- <footer>
        &copy; Efficient algo
    </footer> -->
</body>
</html>
